<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyDent</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div class="wrapper">
    <!-- 헤더 -->
    <header class="header">
        <a href="/" class="back-button">
           뒤로가기
        </a>
        내가 작성한 글 전체 보기
    </header>

    <!-- 메인 콘텐츠 -->
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th style="width: 50%">제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, loop : ${myReviewList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/review/detail/${review.id}|}" th:text="${review.subject}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(review.commentList) > 0}"
                          th:text="${#lists.size(review.commentList)}"></span>
                </td>

                <td th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>

        </table>

    </div>


</div>
</body>
</html>
